<h1>Botillerías</h1>

<div id='indexmap' data-raw='<%=raw @hash.to_json %>' style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
	$(function(){ Liquorstore.init('index',$('#indexmap').data('raw'));});
</script>